/* variables start */
:root {
  --index: calc(1vw + 1vh);
  --system-black: #000;
  --system-white: #fff;
  --system-violet: #6725A8;
  --system-magenta: #CB11AB;
  --system-red: #FF3B30;
  --system-grey: #9797AF;
  --main-background-smoky: #F6F6FA;
}

/* variables end */

/* fonts start */
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI.ttf");
  font-weight: normal;
}

/* fonts end */

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.8);
  line-height: var(--index);
  letter-spacing: normal;
}

body {
  position: relative;
  /* min-height: 100vh; */
  background-color: #6725A8;
}

a {
  text-decoration: none;
  color: inherit;
}

/* reset end */

/* default start */
.container {
  width: 100%;
  padding: 0 1.45em;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.fd-column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

/* custom checkbox start */
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  display: none;
}

.cb-label {
  display: block;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid var(--system-magenta);
  border-radius: .35em;
  cursor: pointer;
}

input[type="checkbox"]:checked+.cb-label {
  background: var(--system-magenta);
}

input[type="checkbox"]:checked+.cb-label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: .25em;
  top: .25em;
  width: .7em;
  height: .4em;
  border-radius: 1px;
  border-left: .14em solid #fff;
  border-bottom: .14em solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+.cb-label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+.cb-label:after {
  opacity: 1;
}

/* custom checkbox end */
/* default end */

/* modals start */
.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(5, 0, 10, 0.30);
  overflow: hidden;
  z-index: 10;
}

.modal {
  position: relative;
  background: var(--system-white);
  min-width: 29.7%;
  min-height: 62.9%;
  padding: 1.15em 1.5em;
  border-radius: 1.2em;
  cursor: default;
}

.modal-row {
  margin-bottom: 1.05em;
}

.modal__title {
  font-size: 1.2em;
  font-weight: 700;
}

.modal__btn {
  position: absolute;
  bottom: 1.5em;
  padding: .75em 2.9em;
  border: none;
  border-radius: .5em;
  outline: none;
  background: var(--system-magenta);
  color: var(--system-white);
  font-weight: 700;
  cursor: pointer;
}

.modal-item+.modal-item {
  margin-top: 1.2em;
}

.modal input[type=radio] {
  display: none;
}

.radio-label .pseudo-radio {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid var(--system-grey);
  border-radius: 50%;
  margin-right: .5em;
}

input[type=radio]:checked+.radio-label .pseudo-radio {
  border: .35em solid var(--system-magenta);
}

.payment-modal {
  display: none;
}

.delivery-modal {
  display: none;
  width: 37%;
}

.delivery-modal__way-item {
  width: 49%;
  padding: 0.45em 0;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 2em;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.delivery-modal__heading {
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 1em;
}

/* modals ens */

/* header start */
#header {
  color: #fff;
  padding: 1.1em 0;
}

.header__logo {
  width: 9%;
  margin-left: 3.8em;
}

.header__logo--text {
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

.header__search {
  width: 72.3%;
  margin-right: 1em;
  padding-left: 0.6em;
  position: relative;
}

.header__search--input {
  width: 100%;
  padding: .95em 1.3em;
  color: #fff;
  font-size: .9em;
  line-height: 0.5em;
  border-radius: 10em;
  border: none;
  outline: none;
  margin-right: -2em;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.header__search--input::-moz-placeholder {
  color: #ccc;
}

.header__search--input::placeholder {
  color: #ccc;
}

.header__search--input:focus {
  color: #000;
  opacity: 1;
  background: #fff;
}

.header__search--icon {
  position: absolute;
  top: 0.7em;
  right: 1.1em;
  width: 1.4em;
  height: 1.4em;
}

.header__search--icon path {
  fill: #fff;
}

.header__nav {
  width: 10.7%;
}

.header__nav--item {
  text-align: center;
  cursor: pointer;
}

.header__nav--item p {
  font-size: 0.75em;
}

.header__nav--profile-link {
  padding-top: 0.2em;
}

.header__nav--profile-link svg {
  width: 1.3em;
  height: 1.3em;
}

.header__nav--cart-link {
  position: relative;
}

.header-nav__cart-counter {
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  height: 1em;
  color: #fff;
  font-size: 0.5em;
  background: var(--system-red);
}

.header__nav--cart-link svg {
  margin-left: -0.5em;
  width: 1.6em;
  height: 1.6em;
}

/* header end */

/* main start */
#main {
  background: var(--main-background-smoky);
  border-radius: 1.3em;
  padding: 1.3em 0;
  padding-bottom: 2.1em;
}

.cart-main {
  width: 66%;
  padding: .8em 0;
  padding-top: 0.4em;
}

.cart-main__title {
  font-size: 1.65em;
  margin-top: .5em;
  margin-bottom: .65em;
}

.cart-aviable {
  margin-bottom: .75em;
}

.cart-aviable__hide-block,
.cart-not-aviable__to-hide-block {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid var(--system-grey);
  margin-bottom: .6em;
}

.cart-aviable__hide-block p {
  margin-left: .7em;
}

.cart-not-aviable__to-hide-block p {
  font-weight: 600 !important;
  margin-bottom: 0.2em;
}

.cart-aviable__hide-block label p,
.cart-not-aviable__to-hide-block p {
  font-size: .95em;
  font-weight: 400;
}

.cart-aviable__hide-block label {
  position: relative;
}

.cart-aviable__hide-block label p {
  position: absolute;
  left: 1em;
  top: 0;
  white-space: nowrap;
}

/* cart item start */
.cart-item__checkbox {
  display: block;
  margin-top: 2.3em;
}

.cart-item+.cart-item,
.cart-item-not-aviable+.cart-item-not-aviable {
  margin-top: 1.6em;
}

.cart-item-wrapper {
  width: 100%;
  margin-left: .75em;
}

.cart-item-info__img,
.cart-item-not-aviable-info__img {
  width: 4.3em;
}

.cart-item-info {
  position: relative;
  width: 100%;
}

.cart-item-info-description {
  position: relative;
  width: 32%;
  margin-left: 1em;
  padding: 0.1em 0;
}

.cart-item__title,
.cart-item-not-aviable__title {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -.4px;
  line-height: 1.45em;
  margin-bottom: .25em;
}

.cart-item-info-description p,
.cart-item-not-aviable-info-description p {
  font-size: 0.78em;
}

.cart-item-properties {
  margin-bottom: 0.2em;
}

.cart-item-properties__item+.cart-item-properties__item,
.cart-item-not-aviable-properties__item+.cart-item-not-aviable-properties__item {
  margin-left: 1.3em;
}

.cart-item__stock,
.cart-item__manufacturer {
  color: var(--system-grey);
}

.cart-item__manufacturer svg {
  margin-left: .3em;
}

.cart-item-manufacturer-info-modal {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  padding: .8em;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  border-radius: .5em;
}

.cart-item-manufacturer-info-modal p+.cart-item-manufacturer-info-modal p {
  margin-top: 0.3em;
}

.cart-item-manufacturer-info-modal__title {
  text-transform: uppercase;
  font-weight: 600;
}

.cart-item__manufacturer:hover+.cart-item-manufacturer-info-modal {
  display: block;
}

.cart-item-options {
  width: 29%;
}

.cart-item-options-panel-quantity {
  width: 6em;
  background: var(--system-white);
  padding: 0.6em 0.6em;
  border-radius: .5em;
  margin-bottom: 0.4em;
}

.cart-item-options-panel-quantity p {
  margin-bottom: 0.3em;
}


.cart-item-options-panel__remainder {
  font-size: .8em;
  color: var(--system-red);
  margin-bottom: 0.2em;
}

.cart-item-options-panel__like-btn:hover path,
.cart-item-options-panel__remove-btn:hover path {
  fill: var(--system-red)
}

.cart-item-options-panel__remove-btn {
  margin-left: .8em;
}

.cart-item-options-price {
  padding: 0.1em;
}

.cart-item-options-price {
  position: relative;
  width: 50%;
  height: fit-content;
  font-size: 0.8em;
}

.cart-item-options-price span {
  font-size: 1em;
}

.cart-item-options-price__final {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.cart-item-options-price__original {
  font-size: 0.8em;
  color: var(--system-grey);
  text-decoration: line-through;
  border-bottom: 1px dashed var(--system-grey);
}

.cart-item-options-price-modal {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  width: 200%;
  padding: 0.8em;
  background: var(--system-white);
  border-radius: .5em;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.cart-item-options-price-modal p:first-child {
  color: var(--system-grey);
}

.cart-item-options-price__original:hover+.cart-item-options-price-modal {
  display: flex;
}

.cart-not-aviable {
  margin-bottom: 2.1em;
}

.cart-item-not-aviable-info {
  width: 45%;
}

.cart-item-not-aviable-info-description {
  margin-left: 0.9em;
  padding: 0.18em 0;
}

.cart-item-not-aviable-info__img {
  filter: grayscale(1);
}

.cart-item-not-aviable-info-description {
  color: var(--system-grey);
}

.cart-item-not-aviable-options {
  width: 21%;
}

/* cart item end */

.cart-main-section {
  width: 100%;
  padding: 1.3em 1.45em;
  border-radius: .8em;
  background: var(--system-white);
}

.cart-main-section+.cart-main-section {
  margin-top: 1em;
}

.cart-main-section__title {
  font-size: 1.42em;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.cart-main-section__options-btn {
  font-size: 0.95em;
  font-weight: 700;
  color: var(--system-magenta);
  line-height: calc(var(--index) * 0.8);
  display: block;
  padding: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* cart main delivery start */
.cart-main-delivery__row+.cart-main-delivery__row {
  margin-top: 1.05em;
}

.cart-main-delivery p {
  font-size: 0.9em;
}

.cart-main-delivery span {
  font-size: 0.8em;
  letter-spacing: normal;
}

.cart-main-delivery__text-block {
  width: 21.9%;
  font-weight: 700;
}

.cart-main-delivery-point {
  margin-top: 1.35em !important;
}

.cart-main-delivery-point-info__adress {
  letter-spacing: .1px;
}

.cart-main-delivery-point-info__rating span:first-child {
  margin-right: .25em;
}

.cart-main-delivery-date-item__img {
  width: 2.4em;
}

.cart-main-delivery-date-item__img+.cart-main-delivery-date-item__img {
  margin-left: 0.2em;
}

.cart-main-delivery-return {
  position: relative;
}

.cart-main-delivery-return__info {
  position: relative;
  font-size: .78em !important;
  margin-left: 0.5em;
}

.cart-main-delivery-return__show-modal {
  display: block;
  margin-left: 0.2em;
  color: #0CB477;
  border-bottom: 1px dashed #0CB477;
}

.cart-main-delivery-return-modal {
  display: none;
  position: absolute;
  width: 34%;
  top: 110%;
  left: 27%;
  font-size: .8em;
  background: #fff;
  border-radius: .7em;
  padding: .9em;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.showMainCartReturnDeliveryModal:hover+.cart-main-delivery-return-modal {
  display: inline-block;
}

/* cart main delivery end */

/* cart main payment start */
.cart-main-payment-card {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
}

.cart-main-payment-card p {
  margin-left: 0.5em;
  letter-spacing: -0.2px;
}

.cart-main-payment__write-off {
  font-size: 0.78em;
  color: var(--system-grey);
}

/* cart main payment end */

/* cart main recipient form start */
.cart-main-form {
  width: 83%;
  flex-wrap: wrap;
}

.cart-main-form-placeholder-wrapper {
  position: relative;
  width: 31%;
}

.cart-main-form-placeholder-wrapper--50per {
  width: 48%;
}

.cart-main-form__input {
  display: block;
  width: 100%;
  padding: .3em 0;
  border: none;
  border-bottom: 1px solid var(--system-grey);
  outline: none;
  margin-top: .9em;
}

.cart-main-form__placeholder {
  position: absolute;
  left: 0;
  top: 1.2em;
  transition: all .3s ease;
  pointer-events: none;
  color: var(--system-grey);
}

.cart-main-form__input:focus+.cart-main-form__placeholder,
.cart-main-form__input:not(:placeholder-shown)+.cart-main-form__placeholder {
  transform: translate(0, -1.1em);
  font-size: 0.8em;
}

.cart-main-form__invalid {
  display: none;
  font-size: 0.7em;
  color: var(--system-red);
}

.cart-main-form__inn-description {
  font-size: 0.7em;
}

/* cart main recipient form end */

/* cart sidebar start */
.cart-sidebar {
  width: 31.6%;
  height: fit-content;
  background: #fff;
  padding: 1.25em 1.35em;
  border-radius: .8em;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.main-sidebar__row+.main-sidebar__row {
  margin-bottom: 0.1em;
}

.main-sidebar-summary-price {
  font-weight: 700;
  margin-bottom: .7em;
}

.main-sidebar-summary-price span,
.main-sidebar-summary-price__text {
  font-size: 1.5em;
}

.main-sidebar-pickup-point {
  margin: 1.6em 0;
}

.main-sidebar-pickup-point__title {
  font-weight: 600;
  margin-bottom: 0.3em;
}

.main-sidebar-pickup-point__point {
  font-size: 0.78em;
}

.main-sidebar-pickup-point__delivery-date {
  width: fit-content;
  margin-bottom: 0.6em;
  cursor: pointer;
  font-size: 0.78em;
  color: var(--system-magenta);
  border-bottom: 1px dashed var(--system-magenta);
}

.main-sidebar-return-delivery {
  position: relative;
  padding: 0.65em 0.5em;
  background: var(--main-background-smoky);
  border-radius: .4em;
  position: relative;
}

.main-sidebar-return-delivery svg {
  margin-top: -0.3em;
  width: 1.5em;
  height: 1.5em;
}

.main-sidebar-return-delivery__info {
  margin-left: .4em;
  font-size: 0.78em;
  line-height: .8em;
}

.main-sidebar-return-delivery__info span {
  font-size: 1em;
  color: #0CB477;
  border-bottom: 1px dashed #0CB477;
}

.main-sidebar-return-delivery-modal {
  display: none;
  position: absolute;
  width: 105%;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  font-size: .8em;
  background: #fff;
  border-radius: .7em;
  padding: .9em;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.main-sidebar-return-delivery__info span:hover+.main-sidebar-return-delivery-modal {
  display: block;
}

.main-sidebar-payment {
  margin-bottom: 1.45em;
}

.main-sidebar-payment__title {
  font-weight: 600;
  margin-bottom: 0.3em;
}

.main-sidebar-payment-card {
  margin-bottom: .75em;
}

.main-sidebar-payment-card__number {
  font-size: 0.75em;
  margin-left: .8em;
}

.main-sidebar-payment-postpaid {
  background: var(--main-background-smoky);
  padding: .5em;
  border-radius: .4em;
}

.main-sidebar-payment-postpaid label {
  margin-bottom: 0.45em;
}

.main-sidebar-payment-postpaid span {
  font-size: 0.8em;
  white-space: nowrap;
  margin-left: 2em;
}

.main-sidebar-payment-postpaid__info {
  font-size: 0.78em;
}

.cart-sidebar__order-btn {
  width: 100%;
  padding: 0.65em;
  margin-bottom: .7em;
  background: var(--system-magenta);
  color: var(--system-white);
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: .45em;
}

.main-sidebar-agreement__links {
  margin-left: .8em;
  font-size: 0.77em;
  line-height: 1.3em;
}

.main-sidebar-agreement__links a {
  font-size: 1em;
  line-height: 1.3em;
  text-decoration: underline;
}

/* cart sidebar end */

/* main end */

/* footer start */
#footer {
  padding: 1.5em;
}

.footer__text {
  font-size: 0.8em;
  color: var(--system-white);
}

/* footer end */

/* media start */
@media (max-width: 1024px) {
  * {
    font-size: var(--index);
  }

  .modal {
    padding: 2em;
    min-height: 70%;
    min-width: 50%;
  }

  #header {
    padding: 1.1em 0;
  }

  .header__logo {
    width: 12%;
    margin-left: 3.8em;
  }

  .header__logo--text {
    font-size: 1.3em;
  }

  .header__search {
    width: 61%;
    padding: 0;
    margin: 0;
  }

  .header__search--input {
    font-size: .9em;
  }

  .header__nav {
    width: 16%;
  }

  #main {
    padding: 1.4em 0;
    padding-bottom: 2.2em;
  }

  .cart-main {
    padding-top: 1em;
  }

  .cart-aviable__hide-block {
    margin-bottom: .8em;
  }

  .cart-main__title {
    margin-top: .2em;
    font-size: 1.65em;
  }

  .cart-aviable {
    margin-bottom: 1.2em;
  }

  .cart-item+.cart-item,
  .cart-item-not-aviable+.cart-item-not-aviable {
    margin-top: 1.8em;
  }

  .cart-item-info-description {
    width: 50%;
  }

  .cart-item__title {
    margin-bottom: 0.4em;
  }

  .cart-item-properties {
    margin-bottom: 0.4em;
  }

  .cart-item-options {
    width: 43%;
  }

  .cart-not-aviable {
    margin-bottom: 2.3em;
  }

  .cart-item-not-aviable-info {
    width: 60%;
  }

  .cart-item-not-aviable-options {
    width: 29%
  }

  .cart-main-delivery__row+.cart-main-delivery__row {
    margin-top: 1.25em;
  }

  .cart-main-delivery-point {
    margin-top: 1.7em !important;
  }

  .cart-main-delivery__text-block {
    width: 31%;
  }

  .cart-main-delivery-point-info__adress {
    font-size: .95em !important;
    margin-bottom: .3em;
  }

  .cart-main-payment-card {
    margin-top: 1.5em;
    margin-bottom: .7em;
  }

  .cart-main-recipient-form .cart-main-section__title {
    margin-bottom: .3em;
  }

  .cart-main-form {
    width: 100%;
  }

  .cart-main-form__placeholder {
    top: 2.7em;
    font-size: 0.9em;
  }

  .cart-sidebar {
    padding: 1.5em 1.6em;
  }

  .main-sidebar-summary-price {
    margin-bottom: .9em;
  }

  .main-sidebar__row+.main-sidebar__row {
    margin-bottom: 0.45em;
  }

  .main-sidebar-pickup-point {
    margin: 1.9em 0;
    margin-bottom: 1.6em;
  }

  .main-sidebar-pickup-point__title {
    margin-bottom: 0.45em;
  }

  .main-sidebar-pickup-point__delivery-date {
    margin-bottom: 1em;
  }

  .main-sidebar-return-delivery {
    padding: 0.8em 0.6em;
  }

  .main-sidebar-return-delivery svg {
    width: 2em;
    height: 2em;
  }

  .main-sidebar-return-delivery__info {
    margin-left: 0.8em;
  }

  .main-sidebar-payment__title {
    margin-bottom: 0.6em;
  }
}

@media (max-width: 650px) {}