// fonts start
@font-face {
    font-family: 'Segoe UI', serif;
    src: url("../fonts/SegoeUI.ttf");
    font-weight: normal;
}

// fonts end

// variables start
$system-black: #000;
$system-white: #fff;
$index: calc(1vw + 1vh);
$system-violet: #6725A8;
$system-magenta: #CB11AB;
$main-background-smoky: #F6F6FA;

// variables end

// reset start
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    font-size: $index;
}

body {
    min-height: 100vh;
    background-color: $system-violet;
}

a {
    text-decoration: none;
    color: inherit;
}

// reset end

// default start
.container {
    width: 100%;
    padding: 0 1.1em;
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

// default end

// header start
#header {
    color: #fff;
    margin: .9em 0;

    .header__logo {
        width: 5.5em;
        margin-left: 3.1em;
        margin-right: .5em;

        &--text {
            text-transform: uppercase;
            line-height: 1.1em;
            letter-spacing: .11em;
            font-weight: 600;
        }
    }

    .header__search {
        width: 71.8%;
        position: relative;

        &--input {
            width: 100%;
            padding: 0.75em 1.3em;
            color: $system-white;
            font-size: .8em;
            line-height: .5em;
            border-radius: 10em;
            border: none;
            outline: none;
            margin-right: -2em;
            background: rgba(255, 255, 255, .5);
            ;
            transition: all .3s ease;

            &::placeholder {
                color: #ccc;
            }

            &:focus {
                color: $system-black;
                opacity: 1;
                background: $system-white;
            }
        }

        &--icon {
            position: absolute;
            top: 0.5em;
            right: 1em;
            fill: #fff;
        }
    }
}